:root{
    --main-background: #FFF8DC;
    --main-font: 'Raleway';
    --mainheader-font: 'Genty';
    --header-font: 'TanMeringue';
    --btn-color: #F5AC0B;
    --pink-color: #F5ACC8;
    --red-color: #FF5757;
    --purple-color: #DAB6FF;
    --light-orange-color: #FFCF73;
    --mobile-fontsize: 0.75rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: var(--main-background);
    overflow-x: hidden;
}

/* font imports */
@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway.ttf');
}

@font-face {
    font-family: 'Genty';
    src: url('/fonts/Genty.ttf');
}

@font-face {
    font-family: 'Luckybones';
    src: url('/fonts/Luckybones.ttf');
}

@font-face {
    font-family: 'TanMeringue';
    src: url('/fonts/TanMeringue.ttf');
}

@media screen and (min-width: 300px){

    /* universal */

    header{
        text-align: center;
    }

    h1{
        font-family: var(--main-font);
    }

    h2{
        font-family: var(--header-font);
        color: var(--pink-color);
        text-shadow: -0.75px -0.75px 0 #000,  
                  0.75px -0.75px 0 #000,
                 -0.75px  0.75px 0 #000,
                  0.75px  0.75px 0 #000; /* Apply the black outline */
        font-size: 0.75rem;
    }

    h3{
        font-family: var(--mainheader-font);
        letter-spacing: 0.10rem;
    }

    a{
        text-decoration: none;
    }

    .btn-contain{
        display: flex;
        justify-content: center;
    }

    .btn-flex{
        display: flex;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0.5rem 0rem;
    }

    .logo{
        text-align: center;
    }

    /* nav */
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        background-color: #f5acc8fc;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 2rem;
      }
      
      .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 2rem;
        color: black;
        display: block;
        transition: 0.3s;
      }
      
      .overlay a:hover, .overlay a:focus {
        color: var(--main-background);
      }
      
      .overlay .closebtn {
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        font-size: 2.5rem;
      }

    .mobile-menu{
        display: flex;
        padding-left: 0.5rem;
        position: fixed;
    }

    .contain-1 h1{
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
    }

    .container-1 button, .btn{
        background-color: var(--btn-color);
        padding: 0.35rem 0.5rem;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: #422800 4px 3px 0px 0px;
        border: none;
        font-family: var(--main-font);
        margin-top: 0.75rem;
    }
    
    .location{
        font-family: 'Luckybones';
        font-size: 0.6rem;
        padding-top: 2rem;
    }

    .location p{
        padding-top: 0.25rem;
    }

    .contain-1{
        position: relative;
    }

    .svg-container {
        width: 275px;
        height: 200px;
        position: absolute;
    }

    .star-1{
        position: absolute;
        padding-right: 40%;
        transform: translate(-50%, -50%);
    }

    .star-2{
        position: absolute;
        left: 100%;
        top:-5%;
    }

    .hidden-img{
        display: none;
        height: 160px;
        width: 130px;
        background-color: pink;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        margin: 0.50rem;
        border: 1px solid black;
    }
    
    /* SECTION 1 */
    .container-1{
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        background-color: var(--pink-color);
        padding: 1rem 0;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .main-img, .profile-pic{
        height: 13rem;
        width: 12rem;
        background-color: pink;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        margin: 0.50rem;
        border: 0.5px solid black;
    }

    .main-img{        
        height: 140px;
        width: 130px;
    }

    .container-1-right-contents{
        width: 50%;
        font-family: var(--main-font);
        margin-top: 0.55em;
    }

    .container-1-right-contents p, button{
        font-size: 0.60rem;
        margin-top: 0.6rem;
    }

    .container-1 h2{
        font-size: 0.8rem;
        letter-spacing: 0.09rem;
    }
    
    /* GALLERY */

    .preview-gallery{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
        width: min(100%-2rem, 768px);
        justify-items: center;
        margin-top: 2rem;
    }

    .container-3{
        display: flex;
        justify-content: center;
    }

    .img-card{
        height: 125px;
        width: 125px;
        background-color: pink;
    }

    .gallery-btn, .final-btn{
        display: flex;
        justify-content: center;
        margin: 1.5rem 0rem 1rem 0rem;
    }

    .gallery-btn button, .final-btn button{
        font-size: 1rem;
        transform: skew(-20deg);
        padding: 1.75rem 3rem;
        background-color: var(--btn-color);
        box-shadow: #422800 4px 5px 0px 0px;
        border: none;
        border-radius: 75% 40% 75% 40%;
    }

    .gallery-btn span {
        transform: skew(20deg); /* Counteract the skew of the button */
    }

    /* PRICING SECTION */
    .pricing-container{
        background-color: var(--pink-color);
        padding-bottom: 1.25rem;
        border-top: 2px solid black;
    }

    .pricing-h2{
        text-align: center;
        font-size: 1.15rem;
        letter-spacing: 0.15rem;
        padding-top: 1rem;
    }

    .pricing-container h3{
        text-align: center;
    }

    .planning-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
    }

    .planning, .coordination{
        width: 50%;
        padding:1rem;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }

    .planning{
        background-color: var(--purple-color);
        border-right: 1px solid black;
        margin-right: 1rem;
        border-radius: 0 45% 45% 0;
    }

    .coordination{
        background-color: var(--light-orange-color);
        border-left: 1px solid black;
        border-radius: 45% 0 0 45%;
        margin-left: 2.5rem;
    }

    .planning h3{
        margin-right: 0.75rem;
    }

    .pricing-btn, .contact-btn, .form-btn{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        cursor: pointer;
        font-family: var(--main-font);
    }

    .pricing-btn button{
        color: white;
        background-color: black;
        padding: 0.25rem;
        border-radius: 10px;
    }

    /* contact img */
    .contact-us{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        color: var(--main-background);
        background-image: url("img/carriage.JPEG");
        margin-bottom: 1rem;
        text-shadow: -0.75px -0.75px 0 #000,  
                  0.75px -0.75px 0 #000,
                 -0.75px  0.75px 0 #000,
                  0.75px  0.75px 0 #000; /* Apply the black outline */
        height: 250px;
        border-top: 2px solid black;
    }

    /* ABOUT SECTION */
    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-content{
        background-color: var(--pink-color);
        padding: 0.75rem 0rem;
    }

    .about-content p{
        font-family: var(--main-font);
        font-size: 0.75rem;
        letter-spacing: 0.05rem;
        margin-top: 0.75rem;
        width: 75%;
        margin-left: 12.5%;
    }

    .about h3{
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        text-align: center;
        font-size: 2rem;
    }

    .contact-btn button, .form-btn button{
        color: white;
        background-color: black;
        padding: 0rem 1rem;
        border-radius: 6px;
    }

    /* packages and pricing section */
    .curved-letters{
        font-family: var(--mainheader-font);
        font-size: 2rem;
        letter-spacing:0.1rem
    }

    .curved{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    /* adjusting some curved headers */
    .sm{
        font-size: 2.6rem;
    }

    .co{
        font-size: 2.15rem;
    }

    .lo{
        font-size: 1.8rem;
    }

    .de{
        font-size: 2.23rem;
    }

    .la{
        font-size: 1.95rem;
    }

    .partial-planning{
        background-color: var(--pink-color);
    }

    .packages p, .partial-planning p, .day-of-cord p, .other-services p{
        width: 75%;
        margin-left: 12.5%;
        font-family: var(--main-font);
        font-size: 0.6rem;
        text-align: center;
    }

    .packages h4, .partial-planning h4, .day-of-cord h4, .other-services h4, .events h4{
        font-family: 'Luckybones';
        text-align: center;
        font-size: var(--mobile-fontsize);
        margin: 1rem 0rem;
    }

    .packages ul, .partial-planning ul, .day-of-cord ul, .other-services ul{
        font-family: var(--main-font);
        text-align: center;
        font-size: var(--mobile-fontsize);
        margin-bottom: 0.25rem;
    }

    .btn{
        padding: 0.25rem 1.5rem;
        margin-bottom: 4rem;
    }

    .center-btn{
        text-align: center;
    }

    .desk-btn{
        display: none;
    }

    .other-services h2{
        text-align: center;
        font-size: 1.15rem;
        color: var(--main-background);
        padding-top: 1rem;
    }

    .other-services{
        background-color: var(--pink-color);
    }

    .events{
        background-color: var(--main-background);
    }

    .events h4{
        margin-top: 0rem;
        font-size: 0.60rem;
    }

    /* gallery */
    .gallery h2{
        font-size: 1.25rem;
        letter-spacing: 0.10rem;
        text-align: center;
    }

    /* swiper */
    .swiper-container {
        /* --swiper-navigation-size: 2rem;
        --swiper-navigation-top-offset: 500%;
        --swiper-navigation-sides-offset: 0.75rem;
        --swiper-navigation-color: var(--pink-color); */
        width: 100%;
        height: 300px;
        margin: 20px auto;
    }

    .navigation-container{
        z-index: -3;
        --swiper-navigation-size: 2rem;
        --swiper-navigation-top-offset: 520%;
        --swiper-navigation-sides-offset: 0.75rem;
        --swiper-navigation-color: var(--pink-color);
    }
    
    .swiper-slide-container {
      text-align: center;
      height:100%;
      width: 75%;
      margin:auto;
    }

    .gallery-thumbs {
        position: relative;
        height: 20%;
        padding: 1rem;
    }

    .gallery-thumbs .swiper-slide {
            width: 20%;
            height: 100%;
            opacity: 0.4;
    }

    .gallery-thumbs .swiper-slide-active {
            opacity: 1;
    }

    /* form */
    form{
        display: flex;
        flex-direction: column;
        font-family: var(--main-font);
        width: 80%;
        margin-left: 10%;
        font-size: var(--mobile-fontsize);
    }

    input,
    select,
    textarea{
        /* to change color, ask jenn for hex code */
        background-color: #ffce73b2;
        font-family: var(--main-font);
        margin-bottom: 0.5rem;
        padding: 0.25rem;
        border-radius: 10px;
    }

    label{
        margin-bottom: 0.20rem;
    }

    .checkbox div {
        display: flex;
        align-items: center;
        margin-bottom: 0.25rem;
    }
    
    .checkbox div input[type="checkbox"] {
        margin-right: 0.5rem;
    }

    .checkbox p {
        margin-bottom: 0.5rem;
    }

    .form-btn button{
        padding: 0rem 1.75rem;
    }

    /* final page */
    .menu{
        text-align: center;
    }

    .menu h2{
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    .final-btn{
        margin-top: 2rem;

    }
}

@media screen and (min-width: 768px){

    .hidden-img{
        display: block;
        width: 300px;
        height: 250px;
    }

    .landing{
        display: flex;
        margin: 4rem;
        width: 75%;
        margin-left: 12.5%;
    }

    .landing h1{
        font-size: 1.5rem;
    }

    .contain-1{
        padding: 3rem;
        margin-left: 0;
    }

    .main-img{
        border-radius: 90%;
        height: 250px;
        width: 275px;
        margin-left: 4.5rem;
    }

    .background{
        background-color: var(--pink-color);
        border: 1px solid black;
        padding: 1.5rem;
    }

    .container-1{
        justify-content: space-between;
        width: 75%;
        margin-left: 12.5%;
        border: none;
    }

    .container-1-right-contents h2{
        font-size: 2rem;
    }

    .container-1-right-contents p{
        font-size: 1rem;
    }

    .preview-gallery{
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
        width: 75%;
        margin-left: 12.5%;
    }
    /* packages & pricing */
    .pricing-h2, .other-services h2{
        font-size: 2.50rem;
    }

    .contain-2{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    .cone{
        border: 1px solid black;
        border-radius: 45% 45% 0 0;
        width: 8rem;
        height: 12rem;
    }

    .planning, .coordination{
        width: 8rem;
        padding:0rem;
        border-bottom: none;
        border-top: none;
        margin-left: 4rem;
        border: 1px solid black;
    }

    .planning{
        margin-right: 0rem;
    }

    .planning-container{
        margin-top: 0rem;
        height: 10rem;
    }

    .contain-2 h3{
        padding-top: 1.25rem;
    }

    /* about */

    .about-header{
        display: flex;
    }

    .about-header h3{
        text-align: center;
        padding-top: 5rem;
        width: 200px;
        margin-left: 12.5%;
        font-size: 3rem;
    }

    .about-content{
        margin-top: 2rem;
        padding: 2rem;
    }

    .about-content p{
        font-size: 1rem;
    }

    .contact-btn button, .form-btn button{
        padding: 0rem 1.5rem;
        font-size: 1rem;
        border-radius: 45px;
    }

    /* main */

    .desktop-ver{
        display: flex;
        margin-top: 1.5rem;
    }

    .curved{
        margin-left: 12.5%;

    }

    .left{
        width: 50%;
        margin-left: 12.5%;
    }

    .description2 p, .right h4, .services li, .desk-right p, .listing h4, .listing li{
        font-size: 1rem;
    }

    .services li{
        list-style-type: none;
    }

    .center-btn{
        display: none;
    }

    .desk-btn{
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .events{
        padding-top: 2rem;
    }
}